*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    background:linear-gradient(45deg,#012340,#494949);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
.hero h1{
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}
.hero span{
    color: orangered;
}
textarea{
    width: 40%;
    height: 35vh;
    margin-bottom: 30px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 9px;
    resize: none;
    padding:20px;
   background-color:rgb(81, 110, 120);
   color:#fff;
}
textarea::placeholder{
    text-align: center;
    color: #fff;
}
.row{
    width: 38%;
    display: flex;
    align-items: center;
    gap: 4%;
}
button{
    background: orangered;
    color:#fff;
    font-size: 20px;
    border: none;
    padding: 10px 30px;
    border-radius: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
select{
    flex: 1;
    color: #fff;
    background:rgb(84, 114, 133);
    height: 40px;
    padding: 0 20px;
    border: none;
    border-radius: 30px;
    appearance: none;
}